<div class="banner" style="background-image: url('<%= image_path "banner.jpg" %>')">
  <div>
    <h1>Cookbook</h1>
    <h3>Save your favourite recipes</h3>
  </div>
</div>

<div class="container">
  <div class="title-top">
    <h1>List of Categories</h1>
    <%= link_to "New Category", new_category_path, class: "btn btn-warning" %>
  </div>

  <div class="cards mt-3">
      <% @categories.each do |category| %>

        <%= link_to category_path(category) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path category.photo.key %>')">
            <div>
              <h2><%= category.name %></h2>
              <p><%= category.recipes.count %> recipes</p>
            </div>
          </div>
        <% end %>

      <% end %>
  </div>
</div>
