<div class="banner"  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @category.photo.key %>');">
  <div>
    <h1><%= @category.name %></h1>
  </div>
</div>

<div class="container">

  <div class="title-top">
    <h1>Recipes</h1>
    <%= link_to "Add new recipe", new_category_bookmark_path(@category), class: "btn btn-warning" %>
  </div>

  <div class="cards">
    <% @category.bookmarks.each do |bookmark| %>

      <div class="card-trip">

        <img src="<%= bookmark.recipe.image_url %>" />

        <%= link_to bookmark_path(bookmark),
          data: { turbo_method: :delete,
          turbo_confirm: "Are you sure to remove #{bookmark.recipe.name} from your #{@category.name} list?" },
          class: 'btn-delete' do %>

          <i class="fa-solid fa-trash"></i>

        <% end %>

        <div class="card-description">
          <h2><%= bookmark.recipe.name %></h2>
          <p><%= bookmark.recipe.description %></p>
        </div>

        <div class="card-trip-infos">
          <div>
            <i class="fa-solid fa-quote-left"></i><%= bookmark.comment %>
          </div>

          <div>
             <%= bookmark.recipe.rating %> <%= '⭐️' * bookmark.recipe.rating %>
          </div>
        </div>

      </div>

    <% end %>
  </div>

<h3><%= link_to "Back to categories", categories_path, class: "btn btn-success rounder mt-4" %></h3>
</div>
